header h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
ul {
    list-style: none;
}
#rules {
    text-align: center;
    font-weight: bold;
}
#rules li {
    padding: 5px;
}
#answerBtns {
    margin-top: 10px;
}
#questions {
    font-size: x-large;
    font-weight: bold;
    color: hotpink;
}
#startBtn {
    color: white;
    background-color: rgb(43, 80, 6);
    border: none;
    font-size: x-large;
}
#startBtn:hover {
    background-color: rgb(110, 204, 16);
}

.answer {
    color: white;
    background-color: rgb(19, 70, 179);
    border: none;
    font-size: x-large; 
}
.answer:hover {

    background-color: rgb(110, 204, 16);
}
#quiz-box {
    text-align: center; 
}
#correct-incorrect {
    font-size: 35px;
}
#timer {
    font-size: xx-large;
}
