header h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
main {
    display: flex;
    justify-content: center;
}
main button {
    color: whitesmoke;
    background-color: teal;
    border-radius: 10%;
    font-size: 25px;
}
main button:hover {
    background-color: rgb(10, 190, 166);
} 
#quiz {
    display: grid;
    grid-row: 6;
    grid-column: 1;
    gap: 10px;
}
#answerButton1, #answerButton2, #answerButton3 {
}